name: Auto Approval
on:
  pull_request_target:
    types: [labeled, synchronize, reopened]
jobs:
  auto-approve-dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Approve Dependabot updates
        uses: hmarr/auto-approve-action@v2.2.1
        if: |
          github.actor == 'dependabot[bot]' || 
            contains(github.event.pull_request.labels.*.name, 'safe to approve')
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
